body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}
a{
  color: aliceblue;
  text-decoration: none;
}
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: #f39c12;
  color: white;
  padding: 20px;
  text-align: center;
}

.main-content {
  display: flex;
}

.navigation {
  background-color: #3498db;
  color: white;
  padding: 20px;
  width: 200px;
}

.navigation ul {
  list-style: none;
  padding: 0;
}

.navigation li {
  margin-bottom: 10px;
  cursor: pointer;
}

.main-container {
  flex: 1;
  padding: 20px;
}


